*{
    margin: 0;
    padding: 0;
}

div {
    margin-top: 20%;
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    flex-wrap: wrap;
}
.box{
    flex: 0 0 33.33%;
    width: 30px;
    height: 60px;
    border: 1px dotted black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.box:nth-child(1),
.box:nth-child(4),
.box:nth-child(7){
    border-left: 0px;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3){
    border-top: 0px;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9){
    border-bottom: 0px;
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9){
    border-right: 0px;
}




@media(max-width:800px){
    .main-body{
        margin-left: 30%;
        margin-right: 30%;
    }
}
 